body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
	display: inline-block;
    margin-right: 44px;
}
a {
	display: inline-block;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.2em;
    color: #999;
}

a.intext{
    color: #72726b;
}

a.intext:hover{
	text-decoration: underline;
	color: #fffda5
}

a.upmenu:hover{
	-webkit-transform:scale(1.4);
    -moz-transform:scale(1.4);
    -o-transform:scale(1.4);
	transform: scale(1.4);
	color: #ffff44;
}

a.footie:hover{
	-webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
	transform: scale(1.2);
}

.nonlinkfoot
{
    color: #999;
}


h1 {
    font-size: 3.5em;
    font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	color: #f9f9f9;
}

h2 {
    font-size: 1.8em;
    font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	color: #d2d4d8;
}

h3 {
    font-size: 1.25em;
    font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	color: #d2d4d8;
}

p {
    font-size: 1em;
    line-height: 1.1em;
    color: #d9d9d9
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.meta{
	color: #f9f9f9;
}

.cv{
    color: #d9d9d9;
}

.colm{
  max-width: 800px;
  margin: 0 auto;
  column-width: 12em;
  column-gap: 2em;
  column-rule: 1px solid #ccc;
}

sublink{
  margin: 0;
  break-inside: avoid;
}

img.inpage
{	
  height: 600px;
  width: 800px;
}

img.thumb
{
  width:200px;
  height:135px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  border-radius: 12px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 180px;
  height: 140px;
  border-radius: 12px;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #d9d9d9;
}