---
layout: parent
---
		<nav>
	    		<ul>
	        		<li><a class = "upmenu" href="/">Home</a></li>
		        	<li><a class = "upmenu" href="/about">About: unrelated to work</a></li>
	        		<li><a class = "upmenu" href="/cv">CV</a></li>
	        		<li><a class = "upmenu" href="/projects">My projects</a></li>
	        		<li><a class = "upmenu" href="/docums">Website documentation</a></li>
	        		<li><a class = "upmenu" href="/WPUB">Web publication</a></li>
	    		</ul>
		</nav>
		
		<nav>
	    		<ul>
				{% for post in site.categories.About %}
					<li>
					<img class="icon" src="{{ post.thumbnail }}"/>
					</li>
					<li>
					<a class="upabout" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
					</li>
				{% endfor %}
	    		</ul>
		</nav>

		<h2>{{ page.title }}</h2>
		<div class="post">
		  {{ content }}
		  
		{% assign filt_type =  page.typefilt %}
		{% assign filtered = site.data.images | where:"type", filt_type %}
		
		<ul>
		{% for photo in filtered %}
			<div class="gallery">
			<a target="{{ photo.path }}" href="{{ photo.path }}">
			<img src="{{ photo.path }}" alt="{{ photo.short }}" width="600" height="400">
			</a>
			<div class="desc">{{photo.desc}}</div>
			</div>
		{% endfor %}
		</ul>
		</div>

		<!-- Post comments -->
		<div class="notecomments">
		{% include disqus.html %}	 
		</div>

